<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>coucou</h1>
    <a th:href=@{'/tournamentAdd'}>ADD</a>

    <table>
        <tr th:each="tournament: ${tournaments}">
            <td th:text="${tournament.getNom}"></td>
            <td th:text="${tournament.getPrix}"></td>
            <td th:text="${tournament.getDate}"></td>
            <td><a th:href=@{'/tournamentUpdate/'}+${tournament.getId_tournament}>UPDATE</a></td>
            <td><a th:href=@{'/tournamentDelete/'}+${tournament.getId_tournament}>DELETE</a></td>
        </tr>
    </table>
</body>
</html>