<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>UPDATE Tournament</h1>
    <table>
       <tr>
            <td th:text="${tournament.getNom}"></td>
            <td th:text="${tournament.getPrix}"></td>
            <td th:text="${tournament.getDate}"></td>
        </tr>
    </table>
    <form method="post" name="updateTournament"  th:action=@{'tournamentUpdateConfirm/'}+${tournament.getId_tournament()}>
        <input type="text" name="id_tournament" th:value="${tournament.getId_tournament()}" style="display:none" >
        <input type="text" name="nom" th:value="${tournament.getNom()}" required/><br><br>
        <input type="date"  name="date" th:value="${tournament.getDate()}" required/><br><br>
        <input type="text" name="prix"  th:value="${tournament.getPrix()}" required/><br><br>
        <input type="submit" />
    </form>



</body>
</html>