<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site du GAME</title>
    <style>
        html{background-color: #222222;}
        body{background-color: #222222; justify-content: center;}
        h1{color: beige;text-align: center; text-decoration: underline;}
        form{text-align: center;}


    </style>
</head>
<body>

    <h1>Ajout de tournoi</h1>
    <form method="post" name="addTournament"  action="/tournamentAdd">
        <input type="text" name="id_tournament" value="0" style="display:none" >
        <input type="text" maxlength="15" name="nom" placeholder="nom" required/><br><br>
        <input type="date"  name="date" required/><br><br>
        <input type="text" name="prix"  placeholder="prix" required/><br><br>
        <input type="submit" />
    </form>

</body>
</html>